<h1>Create Category</h1>

<form method="POST" action="/categories/create">

    <div>
        <label>Name</label>
        <br>

        <input type="text" name="name" required>
    </div>

    <br>

    <div>
        <label>Description</label>
        <br>

        <textarea name="description"></textarea>
    </div>

    <br>

    <button type="submit">
        Save
    </button>

</form>

<br>

<a href="/categories">
    Back
</a>